/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.align-middle {
  text-align: center;
}

.gap-top {
  margin-top: 20px;
}

header {
  text-align: center;
  margin-bottom: 20px;
}

.input-wrapper {
  margin: 0 auto;
  text-align: center;
}

#main {
  padding: 20px;
}

.margin-middle {
  margin: 0 auto;
}

.ui.form.date {
  margin: 0 auto;
  width: 700px;
}

#root {
  margin-top: 15px;
}
