<!DOCTYPE html>
<html>
  <head>
    <title>Yipit Take-Home API Challenge</title>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag 'application' %>
    <%= stylesheet_link_tag 'application', media: 'all'%>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.12/semantic.min.css"></link>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
